.product-content {
    margin: 40px auto;
    border: 2px solid;
    border-radius: 10px;
    padding: 30px 0px;

}

.product-check-list {
    padding: 20px;
    border: 2px solid;
    width: 200px;
    margin: 0 auto;
}

.product-item p {
    font-size: 14px;
    line-height: 10px;
}

.product-add {
    padding-top: 40px;
    margin: 0 auto;
    width: 100%;
}

.button-section {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.form-section {
    width: 100%;
    max-width: 826px;
    margin: 0 auto;
    padding: 30px 0px;
}

#dvd {
    border: 2px solid rgba(54, 50, 50, 0.309);
    padding: 10px;
    border-radius: 8px;
}

#furniture {
    border: 2px solid rgba(54, 50, 50, 0.309);
    padding: 10px;
    border-radius: 8px;
}

#book {
    border: 2px solid rgba(54, 50, 50, 0.309);
    padding: 10px;
    border-radius: 8px;

}